<div class="wrapper">
    <div>
        Workout Dashboard
    </div>

    <canvas id="my-chart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src='/js/chart.js'></script>