<h3>Fitness Tracker</h3>
{{!-- {{#if workouts.empty}} --}}
<div class='card' style='width: 18rem;'>
  <div class='card-body'>
    <h5 class='card-title'>Add Your Exercise</h5>
    <p class='card-text'>You have not created a workout yet!</p>
    <a href='#' class='btn btn-primary create-wo-btn'>New workout</a>
  </div>
</div>