<div>
  <h3>Fitness Tracker</h3>
  {{#if lastSevenWorkoutObj}}
  <div class='card' style='width: 18rem;'>
    <div class='card-body'>
      <h5 class='card-title'>Last Workout</h5>
      <p>Date: {{lastSevenWorkoutObj.lastWorkoutDate}}</p>
      <p>Total Workout Duration: {{lastSevenWorkoutObj.totalWorkoutDuration}}</p>
      <p>Exercises Performed: {{lastSevenWorkoutObj.exercisePerformed}}</p>

      <div class="row justify-content-center">
        <a href='/exercise' class='btn btn-primary continue-wo-btn mt-3 col-6'>Continue Workout</a>
        <a href='#' class='btn btn-success create-wo-btn mt-3 col-6'>New Workout</a>
      </div>
    </div>
  </div>
  {{else}}
  <div class='card' style='width: 18rem;'>
    <div class='card-body'>
      <h5 class='card-title'>Hello</h5>
      <p class='card-text'>You have not created a workout yet!</p>
      <a href='#' class='btn btn-primary create-wo-btn'>New workout</a>
    </div>
  </div>
  {{/if}}
</div>
<script src='/js/home.js'></script>