<div class="d-flex justify-content-center align-items-center">
    <div>
        <h3>Fitness Tracker</h3>
        {{!-- {{#if workouts.empty}} --}}
        <div class='card' style='width: 18rem;'>
            <div class='card-body'>
                <h5 class='card-title'>Last Workout</h5>
                <p>Date:</p>
                <p>Total Workout Duration:</p>
                <p>Exercises Performed:</p>
                <p>Total Weights Lifted:</p>
                <p>Total Sets Performed:</p>
                <p>Total Reps Performed:</p>

                <div class="row justify-content-center">
                    <a href='#' class='btn btn-primary create-wo-btn mt-3 col-6' id="new-workout-btn">New workout</a>
                    <a href='#' class='btn btn-success create-wo-btn mt-3 col-6' id="complete-btn">Complete</a>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="/js/stat.js"></script>